body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: black;
    overflow-x: hidden;
}

header nav ul li:not(:last-child)::after {
    background-color: #3d813d !important;
}

header nav ul li a:hover {
    background-color: #f7f7f7 !important;
}

#splash-screen {
    background-color: #181818 !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20" fill="none" stroke="%23202020" stroke-width="1"><rect x="0" y="0" width="20" height="20" rx="0" ry="0"/></svg>') !important;
}

.footer-content {
    background-color: black !important;
}

.name, .social-links a, .footer-nav a {
    color: white !important;
}

.social-links a:hover, .footer-nav a:hover {
    color: #57c057 !important;
}

.footerimg {
    overflow: visible;
}

.footer-birds {
    top: -27vw !important;
    z-index: 5 !important;
}

.footer-birds.animate {
    animation: ufoLevitate 15s ease-out infinite !important;
}

@keyframes ufoLevitate {
    0% {
        transform: scale(0.5) translate(-150%, 1vw); /* Start poza lewą krawędzią ekranu */
    }
    25% {
        transform: scale(0.5) rotate(5deg) translate(50vw, 7vw);
    }
    50% {
        transform: scale(0.5) rotate(-5deg) translate(100vw, 15vw);
    }
    75% {
        transform: scale(0.5) rotate(5deg) translate(150vw, 1vw);
    }
    100% {
        transform: scale(0.5) rotate(0deg) translateX(200vw, 12vw); /* Przelot poza prawą krawędź */
    }
}

/* Tło wideo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ogólne style sekcji */
.section {
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 10px;
}

.section h2, .section h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: clamp(1.7em, 2.5vw, 3em);
    line-height: 1.2;
    font-family: "Nova Square", sans-serif;
}

.aboutH2 h2 {
    font-size: clamp(1.7em, 2.5vw, 3em);
    line-height: 1;
    font-family: "Nova Square", sans-serif;
    color: #e6e6e6;
}

.section h2 {
    opacity: 0.1;
    color: #57c057;
    font-size: clamp(1em, 1vw, 2em);
    line-height: 1;
}

.section h3 {
    font-size: clamp(1em, 1vw, 2.5em);
    font-weight: 500;
}

.section p, .section ul {
    line-height: 1.6;
}

.section p {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
}

.section-wrapper {
    position: relative;
    margin: 0 30px 0 30px;
}

.section-overlay {
    position: absolute;
    top: -3px;
    left: -5px;
    width: calc(100% + 6px); /* Uwzględnienie szerokości ramki */
    height: calc(100% + 8px);
    background: #122612;
    border: 4px solid #57c057;
    z-index: -1; /* Schowane pod główną treścią */
    opacity: 0.2;
    animation: slight-horizontal-wobble 0.2s linear infinite, mask-slide-down 3s linear infinite;
    border-radius: 10px;
}

.section-intro, .section-skills, .section-about, .section-links {
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    padding: 20px;
    background: rgba(18, 38, 18, 0.7);
    border: 2px solid #57c057;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
}

.section-links {
    max-width: 400px;
}

.section-skills ul {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0 !important;
    text-align: ce;
}

.section-skills ul li {
    margin: 10px 0;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.section-links ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin-left: 0 !important;
}

.section-links ul li {
    background: #234b23;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    position: relative; /* Potrzebne dla pseudo-elementów */
    overflow: hidden;   /* Zapewnia, że pseudo-elementy nie wychodzą poza element */
    transition: background 0.2s ease-out, transform 0.2s ease-out;
}

.section-links ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Start od środka */
    width: 0;
    height: 3px; /* Wysokość bordera */
    background: #ffffff;
    transform: translateX(-50%);
    transition: width 0.4s ease-out; /* Animacja rozciągania */
}

.section-links ul li:hover {
    background: #2f632f;
    transform: translateY(-3px);
}

.section-links ul li:hover::before {
    width: 100%; /* Rozciągnięcie na pełną szerokość */
}

.aboutDeco1 {
    position: absolute;
    width: 600px;
    top: 150px;
    right: 70px;
    transition: transform 0.1s ease, right 0.1s ease;
    animation: shake6 10s ease-in-out infinite;
}

.aboutDeco2 {
    position: absolute;
    width: 700px;
    top: 550px;
    left: 20px;
    transition: transform 0.1s ease, right 0.1s ease;
    animation: shake5 10s ease-in-out infinite;
    transform: scale(1);
}

.aboutDeco3 {
    position: absolute;
    width: 600px;
    top: 1550px;
    right: 70px;
    transition: transform 0.1s ease, right 0.1s ease;
    animation: shake7 10s ease-in-out infinite;
}

.aboutDeco4 {
    position: absolute;
    width: 600px;
    top: 2300px;
    left: 0;
    transition: transform 0.1s ease, right 0.1s ease;
    animation: shake3 10s ease-in-out infinite;
}

@media (max-width: 2250px) {
    .aboutDeco1 {
        right: 50px;
        transform: rotate(10deg) scale(0.8);
    }
}

@media (max-width: 721px) {
    .aboutDeco2 {
        left: -360px;
        opacity: 0.5;
    }

    .aboutDeco3 {
        opacity: 0.5;
    }

    .aboutDeco4 {
        left: -360px;
        opacity: 0.5;
    }
}

@media (max-width: 2035px) {
    .aboutDeco1 {
        right: 0;
        transform: rotate(10deg) scale(0.6);
    }
}

@media (max-width: 1805px) {
    .aboutDeco1 {
        right: -80px;
        transform: rotate(10deg) scale(0.4);
    }
}

@media (max-width: 1540px) {
    .aboutDeco1 {
        right: -130px;
        transform: rotate(10deg) scale(0.3);
    }
}

@media (max-width: 1366px) {
    .aboutDeco1 {
        display: none;
    }
}

/* Minimalne przesunięcie w poziomie */
@keyframes slight-horizontal-wobble {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px); /* Minimalne przesunięcie na boki */
    }
    100% {
        transform: translateX(0);
    }
}

/* Mask przesuwana z góry na dół */
@keyframes mask-slide-down {
    0% {
        mask-position: 0% 0%;
        -webkit-mask-position: 0% 0%;
    }
    100% {
        mask-position: 0% 100%;
        -webkit-mask-position: 0% 100%;
    }
}

.skills-list {
    display: flex;
    flex-wrap: wrap; /* Umożliwia zawijanie wierszy */
    gap: 15px; /* Odstępy między elementami */
    margin-top: 20px;
    justify-content: center; /* Wyrównanie na środku */
}

.skill-item {
    position: relative; /* Potrzebne dla pseudo-elementów */
    display: flex;
    flex-direction: column; /* Ikonka nad tekstem */
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: rgba(35, 75, 35, 0.5);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100px; /* Stała szerokość dla jednolitego wyglądu */
    border: 2px solid #57c057;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    overflow: hidden; /* Ukrycie połysku poza elementem */
}

.skill-item img {
    max-width: 50px; /* Rozmiar ikonki */
    max-height: 50px;
    margin-bottom: 8px; /* Odstęp między ikoną a tekstem */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    user-select: none;
}

.skill-item span {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    color: #ffffff;
}

.skill-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skill-item::after {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
    );
    opacity: 0;
    transition: none;
}

.skill-item:hover::after {
    animation: shine 1s ease-out; /* Animacja połysku */
}

/* Kluczowe klatki dla efektu połysku */
@keyframes shine {
    0% {
        top: -100%;
        left: -100%;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0;
        left: 0;
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100%;
        left: -100%;
        opacity: 0;
    }
}

.greenShadow {
    position: relative; /* aby umiejscowić pseudo-element */
    filter: drop-shadow(0px 0px 50px rgba(87, 192, 87, 0.5)); /* Mocny zielony cień */
}

.greenShadow::after {
    content: ""; /* Pseudo-element dla gradientu */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10; /* Gradient jest za obrazem */
    opacity: 0.2;
    background: linear-gradient(
        to bottom,
        rgba(87, 192, 87, 0.5) 0.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 1%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 1.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 2%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 2.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 3%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 3.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 4%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 4.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 5%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 5.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 6%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 6.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 7%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 7.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 8%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 8.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 9%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 9.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 10%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 10.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 11%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 11.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 12%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 12.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 13%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 13.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 14%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 14.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 15%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 15.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 16%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 16.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 17%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 17.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 18%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 18.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 19%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 19.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 20%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 20.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 21%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 21.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 22%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 22.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 23%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 23.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 24%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 24.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 25%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 25.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 26%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 26.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 27%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 27.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 28%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 28.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 29%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 29.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 30%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 30.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 31%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 31.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 32%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 32.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 33%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 33.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 34%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 34.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 35%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 35.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 36%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 36.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 37%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 37.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 38%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 38.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 39%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 39.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 40%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 40.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 41%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 41.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 42%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 42.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 43%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 43.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 44%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 44.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 45%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 45.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 46%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 46.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 47%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 47.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 48%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 48.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 49%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 49.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 50%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 50.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 51%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 51.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 52%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 52.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 53%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 53.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 54%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 54.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 55%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 55.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 56%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 56.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 57%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 57.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 58%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 58.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 59%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 59.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 60%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 60.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 61%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 61.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 62%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 62.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 63%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 63.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 64%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 64.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 65%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 65.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 66%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 66.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 67%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 67.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 68%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 68.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 69%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 69.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 70%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 70.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 71%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 71.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 72%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 72.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 73%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 73.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 74%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 74.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 75%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 75.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 76%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 76.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 77%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 77.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 78%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 78.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 79%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 79.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 80%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 80.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 81%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 81.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 82%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 82.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 83%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 83.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 84%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 84.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 85%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 85.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 86%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 86.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 87%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 87.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 88%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 88.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 89%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 89.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 90%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 90.5%,   /* Zielony pasek */
        rgba(0, 255, 0, 0) 91%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 91.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 92%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 92.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 93%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 93.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 94%,    /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 94.5%,  /* Zielony pasek */
        rgba(0, 255, 0, 0) 95%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 95.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 96%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 96.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 97%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 97.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 98%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 98.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 99%,   /* Przezroczystość */
        rgba(87, 192, 87, 0.5) 99.5%, /* Zielony pasek */
        rgba(0, 255, 0, 0) 100%    /* Przezroczystość */
    );
    background-size: 100% 100%; /* Upewnij się, że gradient wypełnia element */
    filter: blur(0.1px); /* Rozmycie dla efektu cienia */
}