.contactContent {
    display: flex;
    flex-direction: column; /* Ustaw elementy w kolumnie */
    align-items: center; /* Wyśrodkuj poziomo */
    justify-content: center; /* Wyśrodkuj pionowo */
    letter-spacing: 0.5px;
    margin-bottom: -500px;
    visibility: visible;
}

@media (max-width: 2050px) {
    .contactContent {
        margin-bottom: 0;
    }
}

@media (max-width: 1850px) {
    .xp-window {
        margin-top: 15vh;
    }
}

.xp-window {
    top: 20px;
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    border: 3px solid #4a7bb2; /* Niebieska ramka */
    border-top: 3px solid #8499b1; /* Niebieska ramka */
    border-radius: 10px 10px 0 0;
    background-color: #e3e3e3; /* Szare tło */
    font-family: VT323;
    position: relative;
    box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.6);
    cursor: url('/img/cursor.cur'), auto;
}

/* Pasek tytułowy */
.xp-title-bar {
    background-color: #0044bb;
    border-radius: 7px 7px 0 0;
    color: white;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: url('/img/cursor.cur'), auto;
}

.xp-title-bar-text {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 5px;
    cursor: url('/img/cursor.cur'), auto;
}

/* Przyciski w pasku tytułowym */
.xp-title-bar .buttons {
    display: flex;
    gap: 5px;
    position: relative;
    cursor: url('/img/cursor.cur'), auto;
}

.xp-title-bar .button {
    width: 25px;
    height: 25px;
    background-color: #0044bb;
    border: 2px solid #ffffff;
    border-radius: 3px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #ffffff;
    font-weight: bold;
    cursor: url('/img/cursor3.cur'), auto;
}

.closeButton {
    width: 25px;
    height: 25px;
    background-color: #bb0019;
    border: 2px solid #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('/img/cursor3.cur'), auto;
    position: relative;
}

/* Treść okienka */
.xp-content {
    padding: 20px;
    font-size: 12px;
    color: #333;
    cursor: url('/img/cursor.cur'), auto;
}

button {
    padding: 10px 10px;
    background-color: #d6d6d6;
    border: 1px solid #4a7bb2;
    cursor: url('/img/cursor3.cur'), auto;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: 100;
    line-height: 0;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    color: black;
    font-family: VT323;
}

button:hover {
    background-color: #cecece;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-top: 10px;
}

.contact-form label {
    font-size: 25px;
    color: #333;
    font-weight: 400;
    letter-spacing: -1px;
    cursor: url('/img/cursor.cur'), auto;
}

.contact-form input, .contact-form textarea {
    width: 100% !important;
    padding: 8px !important;
    font-size: 25px !important;
    border: 1px solid #4a7bb2 !important;
    font-weight: 400 !important;
    font-family: VT323 !important;
    letter-spacing: -1px !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
}

.contact-form textarea {
    resize: vertical;
}

#rover1 {
    position: relative;
    right: -510px;
    top: -80px;
    transform: scale(0.6);
    transition: transform 0.3s ease-out;
}

#rover1:hover {
    transform: scale(0.55);
    cursor: url('/img/cursor.cur'), auto;
}

@media (max-width: 1179px) {
    #rover1 {
        right: -10px;
        top: -45px;
    }
}

.closedWindowContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    visibility: hidden;
}

#rover2 {
    transform: scale(0.6);
    transition: transform 0.3s ease-out;
}

#rover2:hover {
    transform: scale(0.55);
    cursor: url('/img/cursor.cur'), auto;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
    z-index: -10;
}
  
.visible {
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
}

/* Formularz kontaktowy */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

textarea {
    resize: vertical;
    height: 150px;
}

.xp-deco-window, .xp-deco-window1, .xp-deco-window2 {
    width: 700px;
    height: 400px;
    border-radius: 10px 10px 0 0;
    background-color: #d1d1d15e;
    position: absolute;
    box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.xp-deco-window1, .xp-deco-window2 {
    animation: pulse 3s ease-in-out infinite;
}

.xp-deco-window {
    animation: pulse2 5s ease-in-out infinite;
}

/* Definicja animacji */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}

@keyframes pulse2 {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}

.xp-deco-title-bar {
    background-color: #0045bb36;
    height: 20px;
    border-radius: 10px 10px 0 0;
    padding: 5px 10px;
    display: flex;
}

@media (max-width: 1439px) {
    .xp-deco-window {
        display: none;
    }

    .xp-deco-window1 {
        display: none;
    }

    .xp-deco-window2 {
        display: none;
    }
}

@media (min-width: 1440px) {
    .xp-deco-window1 {
        right: 200px !important;
    }

    .xp-deco-window2 {
        left: 200px !important;
    }
}

@media (min-width: 1920px) {
    .xp-deco-window1 {
        right: 430px !important;
    }

    .xp-deco-window2 {
        left: 430px !important;
    }
}

@media (min-width: 2560px) {
    .xp-deco-window1 {
        right: 740px !important;
    }

    .xp-deco-window2 {
        left: 730px !important;
    }
}

.body2 {
    background-color: #4793ea;
    width: 100%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 20 20" fill="none" stroke="%235f9ee7" stroke-width="1"><rect x="0" y="0" width="20" height="20" rx="0" ry="0"/></svg>');
    background-size: 80px 80px; /* Rozmiar kratki */
    transition: background-size 0.3s ease-out; /* Płynne przejście */
    transform-origin: center center;
}

.footer-content {
    background-color: #1a4475 !important;
}

.name {
    color: #4793ea !important;
}

.social-links a {
    color: #4793ea !important;
}

.social-links a:hover {
    color: #b8d1ec !important;
}

.footer-nav a {
    color: #4793ea !important;
}

.footer-nav a:hover {
    color: #b8d1ec !important;
}

header nav ul li:not(:last-child)::after {
    background-color: #7baee9 !important;
}

header nav ul li a:hover {
    background-color: #f1f4fa !important;
}