body {
    background-color: black;
}

.experienceBackground {
    position: fixed;
    height: 125%;
    width: 125%;
    top: 0;
    left: 0;
    transform: scale(1.5);
    z-index: -1;
    opacity: 0.7;
    background-color: black;
}

.experienceTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
}

.educationTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
}

.experienceContainer1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceContainer1Content {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%; /* Kontener zajmuje całą szerokość */
    height: 100%;
    max-width: 1200px; /* Opcjonalne ograniczenie szerokości */
}

.overflowHidden {
    overflow: hidden;
}

.textOverlay {
    position: absolute;
    top: 0;
    font-weight: 600;
    left: 0;
    width: 100%; /* Tekst dopasowuje się do szerokości obrazka */
    height: 90%; /* Tekst dopasowuje się do wysokości obrazka */
    display: flex;
    gap: 20px;
    flex-direction: column; /* Ułożenie tekstu w kolumnie */
    align-items: center;
    justify-content: start;
    color: black;
    text-align: center;
    font-size: clamp(12px, 2vw, 20px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.textOverlay h2, 
.textOverlay p, 
.textOverlay a {
    max-width: 100%; /* Zapobiega wychodzeniu tekstu poza kontener */
    word-wrap: break-word; /* Złamie długie słowa lub linki */
    white-space: normal; /* Pozwala na zawijanie tekstu */
}

.textOverlay a {
    color: rgb(104, 38, 38);
    font-weight: 900;
}

@media (max-width: 664px) {
    .experienceContainer1Content img {
        transform: scale(1.75) translateY(23%);
    }

    .overflowHidden {
        height: 150vh !important;
    }

    .textOverlay {
        transform: translateY(3.5%);
    }

    .experienceContainer2Content {
        transform: scale(1.75) translateY(23%);
    }
}

@media (min-width: 1025px) {
    .experienceContainer1Content {
        max-width: 70%;
    }
}

@media (max-width: 1439px) {
    .experienceDeco1 {
        display: none !important;
    }
    
    .experienceDeco2 {
        display: none !important;
    }
    
    .experienceDeco3 {
        display: none !important;
    }
    
    .experienceDeco4 {
        display: none !important;
    }
}

@media (min-width: 1440px) {
    .experienceDeco1 {
        display: none !important;
    }
    
    .experienceDeco2 {
        left: -250px !important;
        top: 1900px !important;
    }
    
    .experienceDeco3 {
        right: -75px !important;
        top: 1200px !important;
    }
    
    .experienceDeco4 {
        left: 50px !important;
        top: 700px;
    }
}

@media (min-width: 1920px) {
    .experienceContainer1Content {
        max-width: 50%;
    }

    .experienceDeco1 {
        right: -150px !important;
        top: 30px !important;
        display: block !important;
    }
    
    .experienceDeco2 {
        left: -130px !important;
        top: 1800px !important;
    }
    
    .experienceDeco3 {
        right: -20px !important;
        top: 1200px !important;
    }
    
    .experienceDeco4 {
        left: 150px !important;
        top: 700px;
    }
}

@media (min-width: 1921px) {
    .experienceContainer1Content {
        max-width: 40%;
    }

    .experienceDeco1 {
        right: 50px;
        top: 50px;
    }
    
    .experienceDeco2 {
        left: 30px;
        top: 2200px;
    }
    
    .experienceDeco3 {
        right: 150px;
        top: 1600px;
    }
    
    .experienceDeco4 {
        left: 350px;
        top: 700px;
    }
}

.experienceTitleCover {
    position: relative;
    width: 50%;
    height: 50%;
    margin-top: 70px;
    max-width: 700px;
    max-height: 500px;
}

.experienceTitle {
    position: absolute;
    color: black;
    font-family: "Sancreek", serif;
    transform: rotate(-10deg) translate(-17px, 43px);
    font-size: clamp(25px, 5vw, 60px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.educationTitle {
    position: absolute;
    color: rgb(255, 238, 216);
    font-family: "Sancreek", serif;
    font-size: clamp(25px, 5vw, 60px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-20px);
}

@media (max-width: 486px) {
    .educationTitle {
        transform: translateX(-20px) translateY(15px);
    }
}

header nav ul li:not(:last-child)::after {
    background-color: #c9ac78 !important;
}

header nav ul li a:hover {
    background-color: #faf9f1 !important;
}

.job {
    background-color: #81532d;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 10px;
    border: 2px #e7b78f solid;
    font-size: 0.8em;
    color: rgb(255, 230, 213);
    height: auto;
    text-align: center;
    box-sizing: border-box;
}

.borderShadowOverlay {
    position: fixed;
    width: 100vw; /* Szerokość całego ekranu */
    height: 100dvh; /* Wysokość całego ekranu */
    overflow: hidden; /* Ukrywa wychodzące elementy */
}

/* Overlay - efekt cienia na ramkach */
.borderShadowOverlay::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    box-shadow: 
        inset 50px -50px 200px rgba(0, 0, 0, 1), /* Cień od lewej i dolnej krawędzi */
        inset -50px 0 200px rgba(0, 0, 0, 1); /* Cień po prawej krawędzi */
    pointer-events: none; /* Zapewnia interakcję z treścią */
    z-index: 3; /* Overlay nad treścią, ale poniżej treści kontenera */
}

#splash-screen {
    background-color: #f8d093 !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 20 20" fill="none" stroke="%23f8daac" stroke-width="1"><rect x="0" y="0" width="20" height="20" rx="0" ry="0"/></svg>') !important;
}

.experienceDeco1 {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 50px;
    transform: rotate(15deg) scale(0.5);
    animation: shake1 5s ease-in-out infinite;
    z-index: -1;
}

.experienceDeco2 {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 2200px;
    transform: scale(0.5);
    animation: shake2 5s ease-in-out infinite;
    z-index: -1;
}

.experienceDeco3 {
    display: inline-block;
    position: absolute;
    right: 150px;
    top: 1600px;
    transform: scale(0.7);
    animation: shake3 5s ease-in-out infinite;
    z-index: -1;
}

.experienceDeco4 {
    display: inline-block;
    position: absolute;
    left: 350px;
    top: 700px;
    transform: rotate(-10deg);
    animation: shake4 5s ease-in-out infinite;
    z-index: -1;
}

.experienceContainer2Content {
    width: 100%; /* Kontener zajmuje całą szerokość */
    height: 100%;
    max-width: 1300px;
}

/* Styl głównego kontenera */
.centeredContainer {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    text-align: center;
    position: relative;
}

/* Styl tła z obrazkiem */
.certificatesBackground {
    width: 100%;
    max-width: 1300px; /* Maksymalna szerokość kontenera */
    background-image: url('/img/experienceContainer3.png'); /* Ustawienie tła */
    background-size: cover; /* Tło dopasowane do kontenera */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat;
    padding: 150px; /* Odstęp dla zawartości */
}

@media (max-width: 865px) {
    .certificatesBackground {
        margin-top: 200px;
        margin-bottom: 200px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 220px;
        padding-bottom: 200px;
    }

    .certificateImage {
        transform: scale(1) !important;
    }

    .certificateItem {
        width: 100% !important;
    }
}

.certificatesContent {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

/* Styl zawartości */
.certificatesContent h1 {
    font-size: clamp(3rem, 5vw, 4em);
    margin-bottom: 5px;
    font-family: 'Sancreek', serif;
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}

.certificatesContent p {
    font-size: clamp(1rem, 2.5vw, 1.4em);
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: 700;
    position: relative; /* Ustawienie dla pseudo-elementów */
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}

.certificateItem {
    display: flex; /* Ustawienie Flexbox */
    align-items: center; /* Wyrównanie obrazka i tekstu w pionie */
    justify-content: start;
    background-color: rgba(255, 250, 220, 0.7); /* Przezroczyste białe tło */
    padding: 15px;
    margin-bottom: 15px; /* Odstęp między certyfikatami */
    border-radius: 10px; /* Zaokrąglone rogi */
    text-align: left; /* Wyrównanie tekstu do lewej */
    width: 80%;
    position: relative; /* Aby działało pseudoelementowanie */
}

.certificateItem::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px dashed rgb(197, 194, 151); /* Brązowa kreskowana linia */
    border-radius: 8px; /* Dopasowanie do zaokrąglonych rogów */
    pointer-events: none; /* Aby pseudo-element nie zakłócał interakcji */
}

.certificateImage {
    width: 100px; /* Szerokość obrazka */
    height: auto; /* Zachowanie proporcji */
    margin-right: 15px; /* Odstęp między obrazkiem a tekstem */
    transform: scale(0.8);
}

/* Styl nagłówków certyfikatów */
.certificateItem h2 {
    font-size: clamp(1rem, 2vw, 1.2em);
    line-height: 1.2;
    color: #000000;
    margin-bottom: 10px;
}

/* Styl tekstu w certyfikatach */
.certificateItem p {
    font-size: clamp(0.8rem, 1.5vw, 0.95em);
    color: #000000;
    margin-bottom: 10px;
}

/* Styl linków */
.certificateItem a {
    font-size: clamp(0.9rem, 2vw, 1.1em);
    color: rgb(104, 38, 38); /* Niebieski link */
    font-weight: 900;
    line-height: 0;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}

.certificateItem a:hover {
    text-decoration: underline; /* Podkreślenie przy najechaniu */
}

/* Styl tła z obrazkiem */
.educationBackground {
    width: 100%;
    max-width: 1300px; /* Maksymalna szerokość kontenera */
    background-image: url('/img/experienceContainer2.png'); /* Ustawienie tła */
    background-size: cover; /* Tło dopasowane do kontenera */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat;
    padding: 150px; /* Odstęp dla zawartości */
}

@media (max-width: 865px) {
    .educationContent {
        transform: rotate(0deg) !important;
    }

    .educationBackground {
        padding: 30px;
    }

    .educationContent h1 {
        font-size: clamp(2rem, 5vw, 4em) !important;
    }
}

.educationContent {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 0;
    transform: rotate(-7.7deg);
}

/* Styl zawartości */
.educationContent h1 {
    font-size: clamp(3rem, 5vw, 4em);
    margin-bottom: 5px;
    font-family: 'Sancreek', serif;
    line-height: 1.2;
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}

.educationContent p {
    font-size: clamp(1rem, 2.5vw, 1.4em);
    line-height: 1.5;
    margin-bottom: 25px;
    font-weight: 700;
    position: relative; /* Ustawienie dla pseudo-elementów */
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
}

.educationItem {
    display: flex; /* Ustawienie Flexbox */
    align-items: center; /* Wyrównanie obrazka i tekstu w pionie */
    justify-content: start;
    background-color: rgba(255, 250, 220, 0.7); /* Przezroczyste białe tło */
    padding: 15px;
    margin-bottom: 15px; /* Odstęp między certyfikatami */
    border-radius: 10px; /* Zaokrąglone rogi */
    text-align: left; /* Wyrównanie tekstu do lewej */
    position: relative; /* Aby działało pseudoelementowanie */
}

.educationItem::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px dashed rgb(197, 194, 151); /* Brązowa kreskowana linia */
    border-radius: 8px; /* Dopasowanie do zaokrąglonych rogów */
    pointer-events: none; /* Aby pseudo-element nie zakłócał interakcji */
}

.educationImage {
    width: 100px; /* Szerokość obrazka */
    height: auto; /* Zachowanie proporcji */
    margin-right: 15px; /* Odstęp między obrazkiem a tekstem */
    transform: scale(0.8);
}

/* Styl nagłówków edukacji */
.educationItem h2 {
    font-size: clamp(1rem, 2vw, 1.2em);
    line-height: 1.2;
    color: #000000;
    margin-bottom: 10px;
}

/* Styl tekstu w edukacji */
.educationItem p {
    font-size: clamp(0.8rem, 1.5vw, 0.95em);
    color: #000000;
    margin-bottom: 10px;
}