#splash-screen {
    background-color: #6126cf !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 20 20" fill="none" stroke="%236e39d1" stroke-width="1.5"><polygon points="10,1 18,5 18,15 10,19 2,15 2,5"/></svg>') !important;
}

.body2 {
    background-color: #6126cf;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 20 20" fill="none" stroke="%236e39d1" stroke-width="1.5"><polygon points="10,1 18,5 18,15 10,19 2,15 2,5"/></svg>');
    z-index: -20 !important;
}

header nav ul li:not(:last-child)::after {
    background-color: #6126cf !important;
}

header nav ul li a:hover {
    background-color: #f9f6ff !important;
}

body {
    background-color: black;
}

.footer-content {
    background-color: #000000 !important;
}

.name, .social-links a, .footer-nav a {
    color: #9a6dee !important;
}

.social-links a:hover, .footer-nav a:hover {
    color: #ffffff !important;
}

.discover-button {
    background-color: #201f22;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 50px;
    text-decoration: none;
    margin-top: auto;
    border-radius: 5px;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.web-button {
    background-color: rgb(79, 170, 67);
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 50px;
    max-width: 280px;
    text-decoration: none;
    margin-top: auto;
    border-radius: 5px;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.github-button {
    background-color: rgb(43, 43, 43);
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.github-pages-button {
    background-color: rgb(43, 43, 43);
    padding: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.discover-button:hover {
    background-color: #8865c9;
    box-shadow: 0 0 10px #8865c9b3;
}

.web-button:hover {
    background-color: rgb(91, 194, 77);
    box-shadow: 0 0 10px rgba(91, 194, 77, 0.7);
}

.github-button:hover, .github-pages-button:hover {
    background-color: rgb(82, 82, 82);
    box-shadow: 0 0 10px rgba(82, 82, 82, 0.7);
}

/* Projekty - siatka */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projects article {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease-out;
    display: flex; /* Użycie flexbox dla artykułu */
    flex-direction: column; /* Ułożenie elementów w kolumnie */
    height: auto; /* Wysokość automatyczna w zależności od zawartości */
}

.projects article:hover {
    transform: translateY(-5px);
    background-color: #fafafa;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.projects article img {
    max-width: 100%;
    border: 2px solid #e4e4e4;
    box-shadow: 0 0 10px #bebebec7;
    transition: transform 0.3s ease-out, top 0.3s ease-out, left 0.3s ease-out;
}

.projects article h2 {
    line-height: 1.3;
    margin-top: 7px;
    margin-bottom: 5px;
}

/* Responsywność */
@media (max-width: 828px) {
    .projects {
        flex-direction: column; /* Projekty w kolumnie */
        align-items: center; /* Wyśrodkowanie projektów */
    }

    .pagination {
        margin-bottom: 200px !important;
    }

    .decoContent {
        display: none !important;
    }
}

@media (max-width: 1919px) {
    .content {
        top: 200px;
    }

    .title {
        top: -80px;
    }

    .pagination {
        top: 200px !important;
    }
}

.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Odstępy między przyciskami */
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9f9f9;
    border: 5px solid #f1f1f1;
    border-radius: 30px;
    max-width: 300px;
    top: 60px;
    margin: 20px auto; /* Centrowanie divu */
    z-index: 3;
}

.nav-btn {
    background-color: #6e39d1;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 900;
    transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
}

.nav-btn-disabled {
    background-color: #9e9e9e;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    cursor: not-allowed;
    font-weight: 900;
    transition: background-color 0.1s ease-out;
}

.nav-btn-disabled:hover {
    background-color: #838383;
}

.page-numbers {
    display: flex;
    gap: 5px;
}

.page-btn {
    background-color: #fff;
    color: #6e39d1;
    border: 2px solid #6e39d1;
    font-size: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
    font-weight: 900;
    opacity: 0.8;
}

.page-btn-active {
    background-color: #6e39d1;
    color: white;
    border: 2px solid #6e39d1;
    font-size: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.1s ease-out, border-color 0.1s ease-out;
    font-weight: 900;
    opacity: 0.8;
}

.page-btn:hover, .nav-btn:hover {
    background-color: #8865c9;
    color: white;
    border-color: #8865c9;
}

.page-btn:hover, .page-btn-active:hover {
    text-decoration: underline;
}

/* Podstawowy styl dla modalu */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Początkowy brak widoczności */
    opacity: 0; /* Niewidoczność */
    pointer-events: none; /* Brak interakcji */
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-out;
}

/* Aktywacja tła */
.modal.active {
    background-color: rgba(114, 114, 114, 0.5);
    opacity: 1;
    pointer-events: auto; /* Aktywacja interakcji */
}

/* Zawartość modalu */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid rgb(245, 245, 245);
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    max-width: 800px;
    max-height: 85vh; /* Maksymalna wysokość */
    padding-top: 30px;
    transform: translateY(-50px); /* Start przesunięcia */
    opacity: 0;
    text-align: center;
    justify-content: flex-start;
    align-items: center; /* Ukrycie przewijania na całym modal-content */
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

/* Tekst wewnątrz modalu */
.modal-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9px;
    justify-content: flex-start;
    max-height: 100vh; /* Maksymalna wysokość tylko dla tekstowej części */
    overflow-y: auto; /* Przewijanie w pionie */
    overflow-x: hidden; /* Brak przewijania w poziomie */ /* Dodatkowy margines dla scrollbar */
    text-align: center;
    box-sizing: content-box;
    border-radius: 10px;
    border: 5px solid white;
}

/* Pasek przewijania */
.modal-text-content::-webkit-scrollbar {
    width: 7px;
}

.modal-text-content::-webkit-scrollbar-thumb {
    background: #afafaf;
    border-radius: 5px;
}

.modal-text-content::-webkit-scrollbar-thumb:hover {
    background: #949494;
}

.modal-text-content::-webkit-scrollbar-track {
    background: #dadada;
}

.modal-text-content::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 10px;
    right: 0;
    height: 80px;
    width: calc(100% - 27px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none; /* Aby nie zakłócać interakcji z treścią */
    z-index: -2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Cień na dole */
.modal-text-content::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 0;
    height: 80px;
    width: calc(100% - 27px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
    pointer-events: none; /* Aby nie zakłócać interakcji z treścią */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.2s;
}

.modal-text-content.has-top-shadow::before {
    opacity: 1;
}

.modal-text-content.has-bottom-shadow::after {
    opacity: 1;
}

/* Aktywacja zawartości */
.modal-content.active {
    transform: translateY(0); /* Koniec przesunięcia */
    opacity: 1; /* Widoczność */
}

/* Zamknięcie zawartości (animacja w dół) */
.modal-content.close {
    transform: translateY(100px); /* Przesunięcie w dół */
    opacity: 0;
}

/* Przycisk zamknięcia */
.close-btn {
    position: absolute;
    background-color: #ffffff;
    top: -25px;
    right: -25px;
    color: #e08983;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 1.7;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.1s ease-out, background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

.close-btn:hover {
    background-color: #f1f1f1;
    color: #f09d97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    text-align: left;
    line-height: 1.4;
}

h2 {
    line-height: 1.2;
}

.modal .modal-content .zoom a img {
    transition: transform 0.2s ease-in-out;
    user-select: none;
    transform: scale(1);
}

.modal .modal-content .zoom a img:hover {
    transform: scale(1.15);
}

.decoContent {
    position: absolute;
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    top: 0;
    left: 0;
}

.decoLine1 {
    position: absolute;
    top: 500px;
    transform: rotate(12deg) scale(1.1);
    z-index: -3;
}

.decoLine2 {
    position: absolute;
    top: 600px;
    transform: rotate(-25deg) scale(1.5);
    z-index: -1;
}

.decoLine3 {
    position: absolute;
    top: 600px;
    right: -900px;
    transform: rotate(55deg) scale(1);
    z-index: -2;
}

.projectsDeco1 {
    position: absolute;
    top: 370px;
    left: -140px;
    transform: rotate(-10deg) scale(0.6);
    z-index: -2;
    opacity: 0.9;
    animation: shake8 8s ease-out infinite;
}

.projectsDeco2 {
    position: absolute;
    top: 370px;
    right: -145px;
    transform: rotate(15deg) scale(0.4);
    z-index: -1;
    opacity: 1;
    animation: shake9 10s ease-out infinite;
}

.projectImage {
    cursor: pointer;
}

.noproject {
    position: relative;
    width: 80px;
    width: 80px;
    box-shadow: none !important;
    border: none !important;
    border-radius: 10px;
    opacity: 0.1;
}

section {
    z-index: 1;
}