/* Styl dla kontenera karty */
.abilityCard {
    position: absolute; /* Pozwala na zmianę pozycji karty */
    top: 0;  /* Ustawienie góry karty */
    right: 300px; /* Ustawienie prawej krawędzi karty */
    perspective: 1500px; /* Ustawiamy większą głębię 3D */
    width: 420px; /* Możesz dostosować szerokość karty */
    height: 590px; /* Możesz dostosować wysokość karty */
    margin: 50px auto; /* Centrujemy kartę na stronie */
    transition: transform 0.3s ease, opacity 0.1s ease-in;
    opacity: 0;
}

/* Karta wewnętrzna - kontener z dwoma stronami */
.cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Umożliwia 3D transformację */
    transition: transform 0.6s ease; /* Płynna animacja obrotu */
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Cień dla karty */
}

/* Strona przednia karty */
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ukrywa tylną stronę, gdy karta jest obrócona */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px; /* Zaokrąglone rogi */
}

/* Styl strony przedniej */
.front {
    background: #ffb800;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    border: 2px solid #ffb800; /* Pogrubienie krawędzi przedniej strony */
}

/* Obrazek w przedniej stronie */
.cardImage {
    max-width: 80%; /* Kontroluje szerokość obrazka */
    height: auto;
    margin-bottom: 10px;
}

/* Opis w przedniej stronie */
.cardDescription {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/* Styl strony tylnej */
.back {
    background: #ffb800;
    background-image: url("/img/abilityCardBackCover.png");
    color: #fff;
    transform: rotateY(180deg); /* Obracamy stronę tylną, aby była początkowo ukryta */
    padding: 20px;
    border: 2px solid #ffb800; /* Pogrubienie krawędzi tylnej strony */
}

/* Lista umiejętności */
.skillsList {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.skillsList li {
    font-size: 16px;
    margin: 10px 0;
}

/* Efekt obrotu po najechaniu */
.abilityCard:hover .cardInner {
    transform: rotateY(180deg);
}

/* Dodatkowe efekty dla karty podczas obracania */
.abilityCard:hover .cardInner {
    transform: rotateY(180deg) scale(1.05); /* Dodaje powiększenie przy obrocie */
}

.abilityCard:hover .gloss {
    opacity: 0; /* Ukryj gloss podczas obrotu */
}

/* Wrapper połysku */
.gloss-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ograniczenie widoczności połysku */
    border-radius: 24px; /* Zaokrąglenie pasujące do karty */
    pointer-events: none;
}

/* Element połysku */
.gloss {
    position: absolute;
    top: 0;
    left: -100%; /* Startuje poza kartą */
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2); /* Półprzezroczysty biały */
    transform: skewX(70deg); /* Kąt nachylenia */
    transition: opacity 0.1s ease-out;
    pointer-events: none;
    border-radius: 10px;
    animation: glossAnimation 5s infinite;
    z-index: 5;
}

/* Definicja animacji połysku */
@keyframes glossAnimation {
    0% {
        left: -100%;
    }
    33% {
        left: 100%;
    }
    66% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

#turnAround {
    margin-top: 30px;
    position: absolute;
    color: #ffffff;
    font-weight: 600;
    z-index: 0;
    opacity: 0.7;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    pointer-events: none;
}

.abilityCardCover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.mainCharacter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0.836);
}

#age {
    z-index: 4;
    position: absolute;
    font-size: 35px;
    top: 36px;
    left: 24px;
    font-family: 'Outfit', sans-serif;
}