@media (min-width: 1920px) {
    .console {
        transform: scale(1);
    }

    .console:hover {
        transform: scale(1.2);
    }

    .consoleDeco {
        transform: scale(1);
    }

    .abilityCard {
        transform: scale(1);
    }

    .icon-wrapper {
        transform: translateX(-100px);
    }
}

@media (min-width: 1921px) {
    .coolItemsIcon {
        position: absolute;
        transform: scale(0.2) translateX(0) !important;
        opacity: 0.4;
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }
    
    .coolItemsIcon:hover {
        opacity: 0.9;
        cursor: pointer;
        transform: scale(0.2) translateY(-25px) translateX(0) !important;
    }

    .icon-wrapper {
        transform: translateX(-255px);
    }
}

@media (max-width: 1919px) {
    .imageScaling {
        width: 40%;
    }

    .icon-wrapper {
        transform: translateX(-100px);
    }
}

@media (max-width: 1279px) {
    .icon-wrapper {
        display: none;
    }
}

@media (max-width: 1000px) {
    .imageScaling {
        width: 100% !important;
    }

    .console {
        display: none;
    }

    .consoleDeco {
        display: none;
    }

    .abilityCard {
        display: none;
    }

    .chatbot-container {
        display: none !important;
    }
}

.subtitle {
    transform: rotate(-7deg) translate(-20px, 70px);
    font-family: 'Meow Script';
    position: absolute;
    font-size: 4.6vh;
    left: 30px;
    top: 60px;
    color: white;
    display: none;
}

.white-content {
    position: relative;
    background-color: white;
    padding: 15px;
    margin-top: -10px;
    z-index: 10;
    display: grid;
    grid-column: 1 / span 1; /* Ustawienie w pierwszej kolumnie */
    justify-items: center; /* Wyśrodkowanie elementów poziomo */
    align-items: center; /* Wyśrodkowanie elementów pionowo */
    padding-bottom: 75px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

.coolItemsSpace {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    z-index: 2;
}

.coolItemsSector {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    top: 0;
    z-index: 3;
    pointer-events: none;
}

@media (max-width: 1600px) {
    .coolItemsSector {
        transform: scale(0.8);
    }
}

.icon-wrapper {
    margin-bottom: 20px; /* Odstęp między ikonami */
    height: 80px;
    pointer-events: none;
}

.coolItemsIcon {
    transform: scale(0.2);
    opacity: 0.4;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    pointer-events: auto;
}

/* Opcjonalnie usuń ostatni margines dla estetyki */
.icon-wrapper:last-child {
    margin-bottom: 0;
}

.coolItemsIcon:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(0.2) translateY(-25px);
}

/* Styl aktywnej ikony */
.coolItemsIcon.active {
    opacity: 0.7;
}

.console {
    position: absolute;
    background-color: black;
    border: 3px dashed transparent;
    border-image: linear-gradient(to right, rgb(111, 177, 73) 70%, #ea4759 30%) 1;
    width: 800px;
    height: 500px;
    right: 5%;
    top: 110px;
    opacity: 1;
    color: rgb(111, 177, 73);
    padding: 15px;
    font-family: "VT323", monospace;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.4px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, opacity 0.1s ease-in;
    z-index: 10;
}

.console:hover {
    transform: scale(1.2) translateY(0);
}

.shine {
    position: relative;
    color: rgb(111, 177, 73); /* Kolor podstawowy */
    background: linear-gradient(to right, rgb(111, 177, 73), #ffffff 50%, rgb(111, 177, 73));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}

/* Definicja animacji shine */
@keyframes shine {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.consoleDeco {
    position: absolute;
    background-color: black;
    border-image: linear-gradient(to right, rgb(111, 177, 73) 70%, #ea4759 30%) 1;
    width: 800px;
    height: 500px;
    right: calc(5% - 30px);
    top: 140px;
    opacity: 1;
    z-index: -2;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.homeButtonAbout {
    background-color: white;
    color: #838383;
    border-radius: 30px;
    border: 5px solid #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, border 0.3s ease-out, color 0.3s ease-out;
}

.homeButtonAbout:hover {
    transform: translateY(-5px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    border: 5px solid #ea4759;
    color: #ea4759;
}

@media (max-width: 1715px) {
    .console, .consoleDeco {
        transform: scale(0.8) translate(15%, -20%);
    }

    .console:hover {
        transform: scale(0.9) translate(15%, -15%);
    }
}

@media (max-width: 1439px) {
    .console, .consoleDeco {
        transform: scale(0.65) translate(25%, -35%);
    }

    .console:hover {
        transform: scale(0.75) translate(25%, -25%);
    }
}

@media (max-width: 1250px) {
    .console, .consoleDeco {
        transform: scale(0.5) translate(35%, -70%);
    }

    .console:hover {
        transform: scale(0.65) translate(30%, -50%);
    }
}

@media (max-width: 1920px) {
    .chatbot-container {
        transform: scale(0.9);
    }
}


@media (max-width: 1715px) {
    .abilityCard {
        transform: scale(0.8) translate(50%, -15%) !important;
    }
}

@media (max-width: 1439px) {
    .abilityCard {
        transform: scale(0.65) translate(60%, -30%) !important;
    }
}

@media (max-width: 1250px) {
    .abilityCard {
        transform: scale(0.5) translate(100%, -55%) !important;
    }
}

@media (max-width: 1920px) {
    .abilityCard {
        transform: scale(0.9) translate(15%, 0);
    }
}


@media (max-width: 1715px) {
    .chatbot-container {
        transform: scale(0.7) translate(20%, -20%);
    }
}

@media (max-width: 1439px) {
    .chatbot-container {
        transform: scale(0.65) translate(30%, -35%);
    }
}

@media (max-width: 1250px) {
    .chatbot-container {
        transform: scale(0.5) translate(40%, -60%);
    }
}